.user_table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 2px;
    margin-top: 20px;
    border: 3px solid #0F4C75;
}

.table_button {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 20px;
    background-color: #BBE1FA;
}

.user_table thead th {
    background-color: #0F4C75;
    color: white;
    text-transform: uppercase;
    padding: 10px;
    border: 1px solid #ddd;
}
.table_button:hover, .user_managment_button:hover {
    background-color: #0F4C75;
    color: white;
}

.user_managment_button{
    background-color: #3282B8;
    display: flex;
    flex-direction: row;
    color: white;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
}
.editForm, .editReservationForm {
    display: none; /* Hide by default */
}

.editForm.active, .editReservationForm.active {
    display: flex; /* Show when active */
}
.profile_picture_view{
    width: 200px;
    height: 200px;
}