/* Active text color */
body {
    margin: 0;
    background-color: rgb(241, 241, 241);
    font-family: Verdana, sans-serif;
}

/*
Style Guide:
Základní modrá paleta
#1B262C - tmavá
#0F4C75 - tmavší
#3282B8 - světlejší
#BBE1FA - light modrá

https://colorhunt.co/


#kdyz je jeden malej margin nahore 
#velkej margin dole 
#tak je to max z tech dvou

velikosti fontu:
16
26
42
*/
nav {
    display: flex;
    position: sticky; top:0;
    width: 100%;
    top:0;
    background-color: #0F4C75;
    color: white;
    height: auto;
    justify-content: space-between;
    font-family: Verdana, sans-serif;

}
.logo_corner{
    padding: 10px 40px;
    flex-wrap: wrap;
}
.right-links {
    display: flex;    /*velikost navbaru*/
    align-items: center;
    margin-right: 5px;
    padding: 20px 20px;
}

.links, .links_active {     /*velikost tlačítek*/
    text-align: center;
    margin-right: 10px;
    padding: 25px 40px;
    color: white;
    text-decoration: none;
    font-size: 26px;
}
.links:hover {
    background-color: #3282B8;
}
.links_active {
    background-color: #d39717;
}


/* ############################################################### MAIN of page  #################################################################*/
.hero-image {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url("https://zwa.toad.cz/~michavo5/img/heropage.jpg");
    min-height: 20%;
    height: 60%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    align-items: flex-end; 
    justify-content: center;
    align-content: center;
}

.hero-heading {
    font-size: 90px;
    color: white;
    text-align: center; 
    padding: 8%;
    line-height: 0.01;
    padding-bottom:200px;
    text-shadow: 2px 2px 1px black; 
}

.hero-text {
    font-size: 42px;
    color: #BBE1FA;
    padding: 0px 20px;
    margin: 0%;
    text-align: right;
}



/* ##################################################### Temeplate na royložení  #################################################################*/
.tri_texty{
    margin-top: 5%;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

article{
    font-size: 26px;
    margin-top: 15%;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 5%;
}
.article_text{
    justify-content: center;
    flex-basis: 50%;
}




.reservations{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 70%;
    height: 30%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #0F4C75;
    line-height: 0.2 ;

}




.book h2{
    padding-top: 80px;
    font-size: 150px;
    margin-top: 0;
}
.book h3{
    font-size: 42px;
}
.reservation_link a{
    font-size: 42px;
    margin-top: 50px;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    line-height: normal;
    color:#ffffff;
    text-decoration: none;
    background-color: #3282B8;
    border: 2px solid black
}





section{
    margin-top: 10%;
    display:flex;
    justify-content: space-around;
    padding-left: 50px;
    flex-wrap: wrap;
    text-align: center;
}


.small_text{
    justify-content: center;
    text-align: left;
    width: 300px;
    padding-left: 0;      
    margin-left: 0;  
    margin-top: 1rem;      
}


.small-text-table {
    width: auto;
    margin: 20px;
    border-collapse: collapse;
}

.small-text-table td {
    font-size: 12px;
    padding: 5px;
    border: none;
    background-color: transparent;
}

.map_marker{
    display: flex;
    justify-content: center;  
    align-items: center;    
    height: 20%;             
    width: 20%;               
    margin: 0 auto;      
}     

.map-iframe {
    justify-content: center;  
    align-items: center;    
    display: flex;
    width: 120%;  
    height: 200px;
    border: none; 
    padding-bottom: 20px;     
}



.contact {
    margin-top: 10%;
    display:flex;
    justify-content: space-around;
    background-color: gray;

}

/* ############################################### registerce ############################################### */

.formular{
    margin: 50px auto 20px auto;
    display:flex;
    justify-content: space-around;
    flex-direction: row;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    background-color: #4582B8;
    width: 70%;
    padding: 20px;
}

.registration_field{
    justify-content: center;
    text-align: left;
    width: 300px;
    padding-left: 0;      
    margin-left: 0;  
    margin-top: 1rem;      
}


.formular input {
    border-radius: 10px;
}

label {
    display: block;
    text-align: left; 
    margin-bottom: 10px; 
    font-size: 18px; 
}
input{
    flex: 1;
    width: 70%; 
    padding: 5px; 
    margin-bottom: 20px; 
    font-size: 16px; 
}


/*required dots*/
.required_label::after {
    content: "*";
    color: red;
    margin-left: 5px;
    font-size: 1.2em;
    vertical-align: middle;
}


.registration_banner{
    flex: 0 0 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;


}







.cena_drahy, .cena_jizdy{
    padding: 20px;
    margin: 30px;


}
.cena_drahy{
    padding: 20px;
    margin: 20px;


}


.rental-option {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color:#3282B8; /* Red background */
    color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    align-items: center;
}
.time-slot {
    font-size: 1em;
    padding-left: 10px;
}

.price {
    background-color: #1B262C;
    text-align: center;
    padding: 10px;
    font-size: 1.2em;
}

.price span {
    font-size: 0.8em;
    display: block;
}


.draha{
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    background-color:#0F4C75; /* Yellow background */
    transition-duration: 2s;
}

.draha_heading{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 32px;
}




footer {
    background-color: #1B262C;
    padding: 0px 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: relative;
    bottom: 0;
    margin-top: auto;
}

.footer-text {
    justify-content: center;
    flex: 1;
    text-align: center; /* Centers the text within its flex item */
    color: white;
    padding: 10px;
}

.copyright {
    flex: 2;
    text-align: left; /* Aligns the copyright text to the left */
    color: white;
    padding: 10px;
}

/* ############################################### Speciální případy ############################################### */
    /* Kdzž se dá tisk */
    @media print {

 /* Zkusit to udělat v cm     hsl na papíře*/ 
        
        * {
            font-size: 16px;
        }
        .hero-image, .hero-image, .hero-text, nav, footer {
            display: none;
        }

    }

    @media screen and (max-width: 768px) {
        nav {
            flex-direction: column;
            align-items: flex-start;
            height: auto;
        }

        .logo_corner{
            padding: 20px 120px;
            flex-wrap: wrap;
            justify-content: center;
        }
        


        .links, .links_active {
            font-size: 10px;
            padding: 10px 20px;
            margin-top: 10px;
        }
        .hero-text {
            font-size: 16px;
            color: #BBE1FA;
            padding: 0px 20px;
            margin: 0%;
            text-align: right;
        }
        .hero-heading {
            font-size: 42px;
            color: white;
            text-align: center; 
            padding: 8%;
            line-height: 0.01;
            padding-bottom:200px;
            text-shadow: 2px 2px 1px black; 
        }
    }

/* ############################################### EXPERIMENTAL ZONE ############################################### */







.nabidka_restaurace {
    display: flex; /* Use flexbox layout */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
}

.jidelni_listek {
    flex: 1; /* Takes up 1 part of the available space */
    text-align: center; /* Center text inside */
}

.Denni_menu {
    flex: 1; /* Takes up 2 parts of the available space */
    text-align: center; /* Center text inside */
}



.jidelni_listek_button{
    width: 20%;
    margin: 0 auto;
    padding: 20px;
    background-color: #0d2d47; /* Yellow background */
    transition-duration: 2s;
    color: #fff;
}
/* Style for links inside the button */
.jidelni_listek_button a {
    color: #fff; /* Change the link color */
    text-decoration: none; /* Remove underline from the link */
}




.druhy_motokar{ 
    display: flex;
    align-content: center;
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    background-color: #93a5b4;

}




.pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .pagination a.active {
    background-color: #4CAF50;
    color: white;
  }




/* něco něco flexbox
  .parent {
    display: flex;
    height: 300px;  Or whatever 
  }
  
  .child {
    width: 100px;  /* Or whatever 
    height: 100px; /* Or whatever 
    margin: auto;  /* Magic! 
  }
  */




.profile_picture {
    width: 32px;
    height: 32px;

}



/* Style all input fields */
input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Style the container for inputs */
  .container {
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  /* The message box is shown when the user clicks on the password field */
  #message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
  }
  
  #message p {
    padding: 10px 35px;
    font-size: 18px;
  }
  
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -35px;
    content: "✔";
  }
  
  /* Add a red text color and an "x" when the requirements are wrong */
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
  }


  .error-message p {
    color: red;
    font-weight: bold;
    font-size: 14px;
    margin-top: 5px;
}